.page-section{
    padding: 0.5rem 0;
    
    @mixin atSmall{
          padding: 4.5rem 0;
    }

    &--blue{
      
        background-color: $mainblue;
        color: white;
    
    }

    &--testimonial{
        background-color: #e0e6ef;
        @mixin atMedium{
          background: url('/app/assets/images/testimonials-bg.jpg') no-repeat top 
        center/cover ;
        }
        
    }
}