.wrapper{
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &--medium{
        max-width: 976px;
    
    }

&--b-margin{
    margin-bottom: 1.5rem;
    @mixin atSmall{
    margin-bottom: 4rem;

    }
}
&--no-padding-untill-medium{
    padding-left: 0;
    padding-right: 0;
    @mixin atMedium{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.wrapper{
    padding-left: 0;
    padding-right: 0;
}
}